
<!DOCTYPE HTML>
<html>
   <head>
        <title>Новостная лента</title>		
        <meta charset="UTF-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/style.css">
         

        
        <!--<style -->
        <script  src="https://code.jquery.com/jquery-3.3.1.js"
                 integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                 crossorigin="anonymous">
        </script>
        

   </head>   
   <body>
     <div>   
       <div class="topPanel"> 
           <h1>Новостная лента - админка</h1>
       </div>   
!!!0   
       <div>        	   
	   </div>
	     <form action="\ch\" method="get" >
		   <input type="submit" name="new" value="Добавить новость">
	   	 </form>  
       <a href="/">Вернуться на главную</a>
      </div>        
<!------------------------------<style ------------------------------------------->
<!------------------------------<style ------------------------------------------->
<!------------------------------<script ------------------------------------------>


<!------------------------------<script ------------------------------------------>
<footer>
</footer>
   </body>
</html>
