
<!DOCTYPE HTML>
<html>
   <head>
        <title>Новостная лента</title>		
        <meta charset="UTF-8">       
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/style.css">
         

        
        <!--<style -->
        <script  src="https://code.jquery.com/jquery-3.3.1.js"
                 integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                 crossorigin="anonymous">
        </script>
        

   </head>   
   <body>
     <div>   
	 
  ...

       <div class="topPanel"> 
           <h1>Новостная лента </h1>
       </div>   
       <div>
	    
         <form action="\ch\" method="get" >
		  <input type="hidden" name="id" value="!!!0">
		  <div>
		   <p>Заголовок новости</p>
           <input type="text" maxlength="100" name="title" value="!!!1">
		   <p>Время созания новости</p>
		   <input type="datetime" pattern="20[0-9][0-9]-[0-9][0-9]-[0-9][0-9] [0-2][0-9]:[0-9][0-9]" 
		      title="формат yyy-mm-dd hh:ss" name="dt" value="!!!3">		   		   
		   <p>Текст новости</p>           
          <textarea name="mes" maxlength="1024" cols="70" rows="10">!!!2</textarea>
	   	  
		  </div> 
		   <input type="submit" name="save" value="Сохранить">
		   <input type="submit" name="delete" value="Удалить">
		   
        </form>
	   </div>
	   <a href="/admin/">Вернуться к списку</a>
      </div>        
<!------------------------------<style ------------------------------------------->
<!------------------------------<style ------------------------------------------->
<!------------------------------<script ------------------------------------------>


<!------------------------------<script ------------------------------------------>
<footer>
</footer>
   </body>
</html>
